<style>
  #b11{
    color :  rgb(98, 0, 128);
    border: 2px solid rgb(98, 0, 128);
  }
  #b11:hover{
  background-color:  rgb(98, 0, 128);
  color: aliceblue;
  }  
</style>
{% extends "home.html" %}

{% block content %} 
  {% if messages %}
  {%  for message in messages %}
  <div class="text-danger">{{message}}</div>
  {%  endfor %}
  {%  endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label for="bookid" class="form-label">Book Id</label>
      <input type="text" class="form-control" id="bookid" name="bookid">
    </div>
    <div class="mb-3">
      <label for="bookname" class="form-label">Book Name</label>
      <input type="text" class="form-control" id="bookname" name="bookname">
    </div>
    <div class="mb-3">
        <label for="authorname" class="form-label">Author Name</label>
        <input type="text" class="form-control" id="authorname" name="authorname">
    </div>
    <!-- <div class="mb-3">
        <label for="isbnnumber" class="form-label">ISBN Number</label>
        <input type="number" class="form-control" id="isbnnumber" name="isbnnumber">
    </div>   -->
    <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" id="category" name="category">
    </div>
    <div class="mb-3">
      <label for="category" class="form-label">Coverpage</label>
      <input type="file" class="form-control" id="coverpage" name="coverpage">
  </div>
    <button type="submit" class="btn btn-outline-primary" id="b11">Add Book</button>
  
  </form>
{% endblock %}