<style>
  #b11{
  border-color: rgb(109, 42, 154);
  color: rgb(109, 42, 154);
  }
  #b11:hover{
    background-color:rgb(109, 42, 154);
    color: white;
  }
</style>
{% extends "home.html" %}

{% block content %}
<div class="container mt-4">
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-primary" role="alert" style="background-color: rgb(223, 203, 246);">{{ message}}</div>
  {% endfor %}
  {% endif %}
  <form method="POST"> 
    {% csrf_token %}
    {% for i in form %}
    <div class="form-group">
      <br>
      <label class="control-label col-xs-4">{{ i.label_tag }}</label>
      <div class="col-xs-8 mt-2">
        {{ i }}
      </div>
    </div>
    {% endfor %}
    <button type="submit" class="btn btn-outline-primary mt-4" id="b11">Issue Book</button>
</div>
</form>
{% endblock %}